<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>QuestionBankServlet</servlet-name>
        <servlet-class>com.mavenproject1.servlet.QuestionBankServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudyMaterialServlet</servlet-name>
        <servlet-class>com.mavenproject1.servlet.StudyMaterialServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TeacherServlet</servlet-name>
        <servlet-class>com.mavenproject1.servlet.TeacherServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RoutineServlet</servlet-name>
        <servlet-class>com.mavenproject1.servlet.RoutineServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffServlet</servlet-name>
        <servlet-class>com.mavenproject1.servlet.StaffServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.mavenproject1.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CollegeRegistrationServlet</servlet-name>
        <servlet-class>com.mavenproject1.servlet.CollegeRegistrationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login1Servlet</servlet-name>
        <servlet-class>com.mavenproject1.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentServlet</servlet-name>
        <servlet-class>com.mavenproject1.servlet.StudentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProjectServlet</servlet-name>
        <servlet-class>com.mavenproject1.servlet.ProjectServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminServlet</servlet-name>
        <servlet-class>com.mavenproject1.servlet.AdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.mavenproject1.servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>QuestionBankServlet</servlet-name>
        <url-pattern>/QuestionBankServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudyMaterialServlet</servlet-name>
        <url-pattern>/StudyMaterialServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TeacherServlet</servlet-name>
        <url-pattern>/TeacherServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RoutineServlet</servlet-name>
        <url-pattern>/RoutineServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffServlet</servlet-name>
        <url-pattern>/StaffServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CollegeRegistrationServlet</servlet-name>
        <url-pattern>/CollegeRegistrationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login1Servlet</servlet-name>
        <url-pattern>/Login1Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentServlet</servlet-name>
        <url-pattern>/StudentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProjectServlet</servlet-name>
        <url-pattern>/ProjectServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminServlet</servlet-name>
        <url-pattern>/AdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
